@import url(./Fonts.css);

.main-page{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: url('https://i.ibb.co/vXqDmnh/background.jpg') center no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page > div{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.main-text{
    justify-content: end;
}

svg text{
    font-size: 4rem;
    font-family: 'Black Ops One', cursive;
    stroke-dasharray: 150;
    stroke: #fff;
    stroke-width: 1px;
}

.clapperboard-container{
    justify-content: start;
}
.clapperboard-container svg{
    cursor: pointer;
}
#clapperboard:hover #clapperboard-upper{
    transform-origin: 0 32%;
    transform: rotate(10deg);
}