.pickPoster{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.movies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 180px;
}

h2{
  font-size: 1rem;
  width: 90%;
}