.Poster{
  height: 100%;
  /* flex: 1; */
  margin-right: 15px;
  width: 140px;
}
.img-box{
  width: 140px;
  height: 100%;
  cursor: pointer;
}
.img-box img{
  width: 100%; height: 100%;
}

.title{
  height: 14%;
  /* border: 1px solid white; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

/* 사이즈 정의 */

