@import url(./Fonts.css);

.timeBar-container{
    width: 25rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
}
.timeBar-container > span{
    color:#ccc;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5rem;
}

.point-container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.point{
    z-index: 1;
    background-color: #696969;
    width: .2rem;
    height: 1rem;
}
.point.active{
    background-color: rgb(182, 12, 12, .7);
}

.bar.background{
    background-color: #696969;
    width: 80%;
    height: .4rem;
    position: relative;
}
.bar.round{
    position: absolute;
    width: 100%;
    height: .4rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(182, 12, 12, .7);
    z-index: 1;
}